body {
    background-image: url('images/oldwinpixel.png');
    background-size: 1920px 1125px; /* Set the size of the background */
    background-repeat: no-repeat;

}

.iconText {
    color: white;
    text-shadow: 2px 2px 4px black; /* X-offset, Y-offset, blur-radius, shadow-color */
    text-align: center;
}
